.dashboardGrid {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.startWorkoutBtn {
    align-self: center;
    background: #2563eb;
    color: white;
    font-weight: 700px;
    padding: 14px 28px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.statsRow {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-top: 200px;
}

.statCard {
    background: #8e8e8e;
    padding: 28px;
    border-radius: 14px;
    text-align: center;
    width: 300px;
}

.statLabel {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}

.statValue {
    font-size: 20px;
    font-weight: 800;
    color: #2563eb;
}