.exPanel {
    background: #efefef;
    border-radius: 14px;
    padding: 16px;
    border: 1px solid #e0e0e0;
    height: calc (100vh - 150px);
    overflow: hidden;
}

.exPanelTitle {
    margin: 0 0 12px 0;
    font-size: 20px;
    font-weight: 900;
    color: #2563eb;
}