/* CSS reset */

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global style */
body {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  color: #111;
}

/* Remove default button/input */
button,
input,
select {
  font-family: inherit;
}

#root {
  min-height: 100vh;
}